<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板</title>
    <link rel="stylesheet" href="css/reset-1.3.0.css">
    <link rel="stylesheet" type="text/css" href="font/iconfont.css">
    <link rel="stylesheet" href="css/model.css">
    <link rel="stylesheet" href="css/infor.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/nav.js"></script>
</head>
<body>
    <div class="container">
        <div class="nav">
            <div class="title">
                群防群治平台
            </div>
            <ul>
                <li class="nav-item">
                    <a href="javascript:;"><i class="fa fa-file-text-o"  style="font-size:16px"></i><span>信息查询</span><i class="my-icon nav-more"></i></a>
                    <ul>
                        <li>
                            <a href="javascript:;"><span>居委会</span></a>
                        </li>
                        <li>
                            <a href="javascript:;"><span>人员</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:;"><i class="fa fa-th-large"  style="font-size:14px"></i><span>服务岗位认领</span><i class="my-icon nav-more"></i></a>
                </li>
                <li class="nav-item">
                    <a href="javascript:;"><i class="fa fa-street-view"  style="font-size:16px"></i><span>自治群</span><i class="my-icon nav-more"></i></a>
                </li>
                <li class="nav-item">
                    <a href="javascript:;"><i class="fa fa-commenting-o" style="font-size: 16px;"></i><span>网上社区</span><i class="my-icon nav-more"></i></a>
                    <ul>
                        <li>
                            <a href="javascript:;"><span>新闻公告</span></a>
                        </li>
                        <li>
                            <a href="javascript:;"><span>网上论坛</span></a>
                        </li>
                        <li>
                            <a href="javascript:;"><span>社区概况</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:;"><i class="fa fa-user-o" style="font-size: 16px;"></i><span>个人中心</span><i class="my-icon nav-more"></i></a>
                </li>
            </ul>
        </div>
        <div class="header">
            <button class="fr">群防群治平台</button>
            <ul class="fr">
                <li>
                    <a href="#">
                        <img src="img/p1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/p2.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/p3.png" alt="">
                    </a>
                </li>
            </ul>
            <div class="userMsg fr">
                <img src="img/user.png" alt="">
                <span>测试账号</span>
            </div>
        </div>
        <div class="content">
            <div class="contentTable">
                <div class="contInfor">
                    <select name="" id="">
                        <option value="0" style="display: none; color: #c6c6ca;">选择社区 /  网格</option>
                        <option value="1">111</option>
                        <option value="1">222</option>
                        <option value="1">333</option>
                        <option value="1">444</option>
                        <option value="1">555</option>
                    </select>
                    <div class="searchInfo">
                        <input type="text" placeholder="输入项目名称进行搜索">
                        <button>搜索</button>
                    </div>
                </div>
                <div class="conTable">
                    <table>
                        <thead>
                            <tr>
                                <td>序号</td>
                                <td>项目名称</td>
                                <td>项目内容</td>
                                <td>拟认领数</td>
                                <td>联系人</td>
                                <td>联系电话</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>李子</td>
                                <td>男</td>
                                <td>18</td>
                                <td>111111111111</td>
                                <td>党员，物业员</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>李子</td>
                                <td>男</td>
                                <td>18</td>
                                <td>111111111111</td>
                                <td>党员，物业员</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>李子</td>
                                <td>男</td>
                                <td>18</td>
                                <td>111111111111</td>
                                <td>党员，物业员</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="conFooter"></div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
</body>
</html>